@(user: models.users.User)
@admin.adminMain("Home", user){
    <div style="padding: 50px;">
        <form style="width:100%"  action="@routes.HomeController.rooms(0)">
            <input type="search" placeholder="search ">
            <input style="background-color: orange; border: 3px solid orange" type="submit" id="searchsubmit" value="Go!" class="btn-md btn-primary">
        </form>
        <img style="margin-left: 20px;" src="@routes.Assets.versioned("images/Crown.png")" alt="sd" width=175 height=150>

        <p style="margin-left: 18px;">Any questions? Ask us here </p>
        <p  style="margin-left: 100px;">&darr; &darr; &darr;</p>

        <a  style="margin-left: 62px;" class="btn btn-default" href="@routes.HomeController.contact()">Contact Us</a>

        <div style="float: right;padding-left:70%" >
            <img src="@routes.Assets.versioned("images/spon1.png")" alt="sd" width=315 height=215>
            <a style="margin-left: 6em; margin-bottom: 10px;margin-top: 10px;" class="btn btn-default" href="@routes.HomeController.clayton()">The Clayton Hotel</a> <br>

            <br>

            <img src="@routes.Assets.versioned("images/spon2.png")" alt="sd" width=315 height=215>
            <a style="margin-left: 5em; margin-bottom: 10px;margin-top: 10px;" class="btn btn-default" href="@routes.HomeController.hilton()">The Hilton Garden Inn</a>
        </div>
    </div>


    <div style="margin-left: 32%;" class="col-md-4">

    </div>
}
