header{
    background-color: orange;
}
#logo{
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;

    overflow: hidden;
    padding-left: 70%;
}

li {
    border-right: inset yellow;
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ffff00;
}

.active {
    background-color: #4CAF50;
}

gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

gallery:hover {
    border: 1px solid #777;
}

gallery img {
    width: 100%;
    height: auto;
}

desc {
    padding: 15px;
    text-align: center;
}
