@import helper._

@(bookRoomForm: play.data.Form[models.Room], user: models.users.User)

@* helpers will be used to create the form dynamically, though static HTML form element also work. *@

@main("Book Room", user) {
    <h3>Book Room</h3>
 @form(action = routes.HomeController.bookRoom(0), 'class -> "form-horizontal", 'role->"form") {

        <!-- Build the form, adding an input for each field -->
        <!-- Note the label parameter -->
        @inputText(bookRoomForm("email"), '_label -> "Name",'class -> "form-control")

        @select(
            bookRoomForm("room.id"),

            options(Room.options),
            '_label -> "Room", '_default -> "-- Choose the Room --",
            '_showConstraints -> false, 'class -> "form-control"
        )
        @inputText(bookRoomForm("Credit Card Number"), '_label -> "Price",'class -> "form-control")

        <!-- Hidden ID field - required for movie updates -->
        @inputText(bookRoomForm("id"), '_label -> "", 'hidden -> "hidden")

        <!-- Add a submit button -->
    <div class="actions">
        <input type="submit" value="Save" class="btn btn-primary">
        <a href="@routes.HomeController.rooms()"><button class="btn btn-warning">Cancel</button>
        </a>
    </div>
} <!-- End Form definition -->

}
