@import helper._

@(feedbackForm: play.data.Form[models.Feedback],user: models.users.User)

@main("Contact", user){

<div class="row">

    <div class="hero-unit" style="text-align: center;">
        <h1>Contact us </h1>

    </div>

        <div class="well">


            @form(action = routes.HomeController.feedbackSubmit(), 'class -> "form-horizontal", 'role->"form") {

                    <!-- Build the form, adding an input for each field -->
                    <!-- Note the label parameter -->
                @inputText(feedbackForm("name"), '_label -> "Name",'class -> "form-control")

                @inputText(feedbackForm("email"), '_label -> "Email",'class -> "form-control")

                @inputText(feedbackForm("subject"), '_label -> "Subject",'class -> "form-control")

                @inputText(feedbackForm("message"), '_label -> "Message",'class -> "form-control")


                    <!-- Add a submit button -->
                <div class="actions">
                    <button style="height:35px;width:70px;"type="submit" value="Save" class="btn btn-success">Send</button>
                    <a href="@routes.HomeController.index()"><button style="height:35px;width:70px;" class="btn btn-warning">Cancel</button>
                    </a>
                </div>


 


    </div>
</div>


}
}
