@( rooms: List[models.Room],user: models.users.User)
@admin.adminMain("Browse", user){
    <div class="row">

        <div style="float: left" class="col-md-3">

            <div class="list-group">
                <div class="list-group-item">
                    <h5 style="text-align: center; font-size: 2em; font-family: sans-serif;"><strong>Filter by <span class="glyphicon glyphicon-hand-down"></strong></span>
                    </h5>
                </div>


                <form style="background-color:lightblue;">
                    <button style="
                        height: 15px;
                        width: 15px;
                        border-radius: 50%;
                        border: 1px solid silver;" onclick="location.href='@routes.HomeController.browse()'" type="button"></button> View All<br>

                    <button style="
                        height: 15px;
                        width: 15px;
                        border-radius: 50%;
                        border: 1px solid silver;" onclick="location.href='@routes.HomeController.filtersearchff()'" type="button"></button> Family Friendly<br>

                    <button style="
                        height: 15px;
                        width: 15px;
                        border-radius: 50%;
                        border: 1px solid silver;" onclick="location.href='@routes.HomeController.filtersearchmls()'" type="button"></button> Included Meals<br>

                    <button style="
                        height: 15px;
                        width: 15px;
                        border-radius: 50%;
                        border: 1px solid silver;" onclick="location.href='@routes.HomeController.filtersearchwifi()'" type="button"></button> Free WiFi<br>

                    <button style="
                        height: 15px;
                        width: 15px;
                        border-radius: 50%;
                        border: 1px solid silver;" onclick="location.href='@routes.HomeController.filtersearchnosmoke()'" type="button"></button> Smoke Free<br>
                </form>
            </div>
        </div>

        <div style="float: right" class="col-md-9">
            <table style="border:none;
                border-collapse:collapse;">
                <tr> <td>  <a href="@routes.HomeController.hilton()">
                    <img style="height:200px; width:300px; border: 10px solid red; margin-left: 350px; margin-bottom: 6em;" src="@routes.Assets.versioned("images/hotels/hilton.jpg")">
                </a> </td>

                    <td  style="position: absolute; margin-left: 20px;"> <h4 style="color: blue"> The Hilton Hotel </h4>
                        <h5 style="color: blue"> Dublin </h5>
                        <p>Hilton Garden Inn Dublin Custom House has contemporary, spacious rooms with flat-screen TVs with Freeview, spa toiletries, and spacious bathrooms. There is a workspace area and tea and coffee-making facilities. </p>
                </tr>
            </table>

        </div>



        <div style="float: right" class="col-md-9">
            <table style="border:none;
                border-collapse:collapse;">
                <tr> <td>  <a href="@routes.HomeController.jurys()">
                    <img style="height:200px; width:300px; border: 10px solid red; margin-left: 350px; margin-bottom: 6em;" src="@routes.Assets.versioned("images/hotels/jurys.jpg")">
                </a> </td>

                    <td  style="position: absolute; margin-left: 20px;"> <h4 style="color: blue"> The Jury Inn </h4>
                        <h5 style="color: blue"> Parnell Street, Dublin </h5>
                        <p> Based in a busy hub of Dublin, Jurys Inn Dublin Parnell Street offers easy access to many of Dublin’s attractions. near a pulsing centre of Dublin activity as well as a range of monuments and statues relating to Irish Heritage. </p> </td>
                </tr>
            </table>

        </div>


    </div>


}
