@(user: models.users.User)
    @main("The Hilton Hotel", user){
    <div class="row">

        <div class="col-md-3">
            <div class="list-group">
            </div>
        </div>

        <div class="col-md-6">
            <div class="page-header">
                <h1>The Hilton</h1>
            </div>

            <br>
            <br>
            <div class="tophalf">
               <p> With views over the River Liffey, Hilton Garden Inn Dublin Custom House sits next to 3Arena, EPIC Ireland museum and Bord Gais Theatre. In the newly developed Dockland area, rooms all feature power showers and flat-screen TVs.
               </p> <br>
               <p> Hilton Garden Inn Dublin Custom House has contemporary, spacious rooms with flat-screen TVs with Freeview, spa toiletries, and spacious bathrooms. There is a workspace area and tea and coffee-making facilities. Hilton Garden Inn Dublin Custom House also provides several wheelchair friendly rooms.
            </p> <br>
                <p> Busaras and Connolly Station are both just a 2-minute walk from the hotel and there is a public car park adjacent to the hotel. There is also a tram stop to the rear of the hotel with a bus sightseeing tour stop right outside the door. Dublin city centre is just a 15-minute walk offering a many shopping, dining and social experiences.
                </p>  <br>
               <p> The Hilton’s restaurant has a wide selection of snacks and meals on offer. Speciality coffees are served at Il Barista, which also serves snacks and fresh pastries.
               </p>  <br>
               <p> The stylish bar serves excellent cuisine in light and airy surroundings. It also has a fine selection of spirits and wines to choose from.
               </p>  <br>
              <p>  This is our guests' favourite part of Dublin, according to independent reviews.
              </p> <br>
              <p>  Couples particularly like the location — they rated it 9 for a two-person trip.
              </p>  <br>
                We speak your language!
            </div>




        </div>

        <div style="padding-bottom: 20px;" class="col-md-3">
            <img style="height:254px; width:394px; border: 4px solid black;" src="@routes.Assets.versioned("images/hotels/Hilton.jpg")" alt="Clayton Hotel">

        </div>

        <div style="padding-bottom: 20px; padding-top:30px; padding-left: 100px;" class="col-md-3">
            <div class="w3-content w3-display-container">
                <img class="mySlides" src="@routes.Assets.versioned("images/slide/1.jpg")" style="width:130%; height:130px;">
                <img class="mySlides" src="@routes.Assets.versioned("images/slide/2.jpg")" style="width:130%; height:130px;">
                <img class="mySlides" src="@routes.Assets.versioned("images/slide/3.jpg")" style="width:130%; height:130px;">
                <img class="mySlides" src="@routes.Assets.versioned("images/slide/4.jpg")" style="width:130%; height:130px;">

                <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                <button style="left:108%" class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>

            </div>
        </div>

        <div class="col-md-3">
            <div class="row">

                <div  class="well">Check out the rooms available here</div>
                <button onclick="location.href='@routes.HomeController.rooms(5)'" type="button" class="btn btn-info btn-lg">View Rooms</button>
            </div>

        </div>
        <script>
                var slideIndex = 1;
                showDivs(slideIndex);

                function plusDivs(n) {
                    showDivs(slideIndex += n);
                }

                function showDivs(n) {
                    var i;
                    var x = document.getElementsByClassName("mySlides");
                    if (n > x.length) {slideIndex = 1}
                    if (n < 1) {slideIndex = x.length}
                    for (i = 0; i < x.length; i++) {
                        x[i].style.display = "none";
                    }
                    x[slideIndex-1].style.display = "block";
                }
        </script>
    </div>
}
