@(user: models.users.User)
    @admin.adminMain("Home", user){
        <div style="padding: 50px;">
            <h4> Welcome To the BooKING, where we hope to get you sorted with simple and fast Room booking <br> to facilitate your needs.</h4>
            <h4> need any help? don't be shy and contact Us</h4>
            <div style="float: right;padding-left:70%" >
                <img src="@routes.Assets.versioned("images/spon1.png")" alt="sd" width=315 height=215>
                <a style="margin-left: 6em; margin-bottom: 10px;margin-top: 10px;" class="btn btn-default" href="@routes.HomeController.clayton()">The Clayton Hotel</a> <br>

                                                        <br>

                <img src="@routes.Assets.versioned("images/spon2.png")" alt="sd" width=315 height=215>
                <a style="margin-left: 5em; margin-bottom: 10px;margin-top: 10px;" class="btn btn-default" href="@routes.HomeController.hilton()">The Hilton Garden Inn</a>
            </div>
        </div>


            <div style="margin-left: 32%;" class="col-md-4">

            </div>
}
