@(user: models.users.User)
@main("Home", user){


<!-- Call to Action Well -->
<div class="row">
    <div class="col-lg-12">

            <form>
                <input type="text" placeholder="Search" id="search"> <br>
                <input type="date" id="datepickerIn"> <input type="date" id="datepickerOut">
            </form>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->






<!-- Content Row -->
<div class="well">
<div class="row">


    <!-- /.col-md-4 -->
    <div class="col-md-6">

        <img src="@routes.Assets.versioned("images/Hilton.jpg")" alt="sd" width=315 height=215>

        <p>Book online your tickets in less than 5 minutes.</p>
        <a class="btn btn-default" href="@routes.HomeController.rooms()">View</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-6">
        <img src="@routes.Assets.versioned("images/Clayton.jpg")" alt="sd" width=315 height=215>
        <p>Clayton Hotel</p>
        <a class="btn btn-default" href="@routes.HomeController.contact()">View</a>
    </div>
    <!-- /.col-md-4 -->
    </div>
</div>
<!-- /.row -->

<br>

}
