@(loginForm: Form[models.users.Login], user: models.users.User)
@import helper._

@main("Login", user){

    <div>

        <div class="form-white-background">

            <div class="form-title-row">
                <h1>Log in</h1>
                @if(loginForm.hasGlobalErrors){
                    <p class="alert alert-warning">
                    @loginForm.globalError.message
                    </p>
                }
                @if(flash.containsKey("error")){
                    <div class="alert alert-warning">
                    @flash.get("loginRequired")
                    </div>
                }

            </div>

            @helper.form(action = controllers.security.routes.LogonController.loginSubmit()){
            <div class="form-row">
                <label>
                            <span>Email</span>
                            @*<input type="email" name="email">*@
                            @inputText(loginForm("email"), '_label -> "", 'class -> "form-control input-xs", 'placeholder -> "Email")
                        </label>
            </div>

            <div class="form-row">
                <label>
                            <span>Password</span>
                            @*<input type="password" name="password">*@
                            @inputPassword(loginForm("password"), '_label -> "", 'class -> "form-control input-xs", 'placeholder -> "Password")
                        </label>
            </div>

            <div style="margin-left: 5px;" class="form-row">
                <input style="margin-right:5px;: 20px; margin-bottom: 20px;" type ="submit" value="Sign In" class ="btn btn-primary"><br>
            </div>
                <div style="margin-left: 5px;" class="form-row">
                    <a href="@routes.HomeController.signUp" class="form-forgotten-password">Don't have an Account?, Click here!</a>
                </div>
            }
        </div>


    </div>



}
