@(user: models.users.User)
@main("Browse", user){
<div class="row">

    <div style="float: left" class="col-md-3">

        <div class="list-group">
            <div class="list-group-item">
                <h5 style="text-align: center; font-size: 2em; font-family: sans-serif;"><strong>Filter by <span class="glyphicon glyphicon-hand-down"></strong></span>
                </h5>
            </div>
            <a href="#" class="list-group-item">Smoke Free</a>
            <a href="#" class="list-group-item"></a>
            <a href="#" class="list-group-item"></a>
            <a href="#" class="list-group-item"></a>
            <a href="#" class="list-group-item"></a>
            <a href="#" class="list-group-item"></a>
            <a href="#" class="list-group-item">Family Friendly</a>
            <a href="#" class="list-group-item">
            <a href="#" class="list-group-item"></a>
            <a href="#" class="list-group-item"></a>
            <a href="#" class="list-group-item"></a>
            <a href="#" class="list-group-item"></a>
            <a href="#" class="list-group-item">Include Meals</a>
            <a href="#" class="list-group-item"></a>
            <a href="#" class="list-group-item"></a>
            <a href="#" class="list-group-item"></a>
            <a href="#" class="list-group-item"></a>
            <a href="#" class="list-group-item"></a>

        </div>
    </div>

    <div style="float: right" class="col-md-9">
        <a href="@routes.HomeController.clayton()">
        <img style="height:200px; width:300px; border: 10px solid red; margin-left: 700px; margin-bottom: 1em;" src="@routes.Assets.versioned("images/Clayton.jpg")">
        </a>

    </div>

    <div style="float: right" class="col-md-9">
        <a href="@routes.HomeController.clayton()">
            <img style="height:200px; width:300px; border: 10px solid red; margin-left: 700px; margin-bottom: 1em;" src="@routes.Assets.versioned("images/Hilton.jpg")">
        </a>

    </div>

    <div style="float: right" class="col-md-9">
        <a href="@routes.HomeController.clayton()">
            <img style="height:200px; width:300px; border: 10px solid red; margin-left: 700px; margin-bottom: 1em;" src="@routes.Assets.versioned("images/Hilton.jpg")">
        </a>

    </div>

    <div style="float: right" class="col-md-9">
        <a href="@routes.HomeController.clayton()">
            <img style="height:200px; width:300px; border: 10px solid red; margin-left: 700px; margin-bottom: 1em;" src="@routes.Assets.versioned("images/Hilton.jpg")">
        </a>

    </div>

    <div style="float: right" class="col-md-9">
        <a href="@routes.HomeController.clayton()">
            <img style="height:200px; width:300px; border: 10px solid red; margin-left: 700px; margin-bottom: 1em;" src="@routes.Assets.versioned("images/Hilton.jpg")">
        </a>

    </div>

</div>


}
