@( rooms: List[models.Room],user: models.users.User)
@main("Browse", user){
<div class="row">

    <div style="float: left" class="col-md-3">

        <div class="list-group">
            <div class="list-group-item">
                <h5 style="text-align: center; font-size: 2em; font-family: sans-serif;"><strong>Filter by <span class="glyphicon glyphicon-hand-down"></strong></span>
                </h5>
            </div>


                    <!-- Start of For loop - For each g in genres add a list item -->
                    <!-- Also show the number of movies in each genre -->


        </div>
    </div>

    <div style="float: right;margin-top: 2em;" class="col-md-9">
        <table style="border:none;
            border-collapse:collapse;">
            <tr> <td>  <a href="@routes.HomeController.clayton()">
        <img style="height:200px; width:300px; border: 10px solid red; margin-left: 350px; margin-bottom: 6em;" src="@routes.Assets.versioned("images/hotels/Clayton.jpg")">
        </a> </td>

            <td  style="position: absolute; margin-left: 20px;"> <h4 style="color: blue"> The Clayton Hotel </h4>
                 <h5 style="color: blue"> The Clayton Hotel </h5>
                 <p> The Clayton Hotel </p> </td>
            </tr>
        </table>

    </div>


    <div style="float: right" class="col-md-9">
        <table style="border:none;
            border-collapse:collapse;">
            <tr> <td>  <a href="@routes.HomeController.hilton()">
                <img style="height:200px; width:300px; border: 10px solid red; margin-left: 350px; margin-bottom: 6em;" src="@routes.Assets.versioned("images/hotels/hilton.jpg")">
            </a> </td>

                <td  style="position: absolute; margin-left: 20px;"> <h4 style="color: blue"> The Hilton Hotel </h4>
                    <h5 style="color: blue"> The Clayton Hotel </h5>
                    <p> The Clayton Hotel </p> </td>
            </tr>
        </table>

    </div>



    <div style="float: right" class="col-md-9">
        <table style="border:none;
            border-collapse:collapse;">
            <tr> <td>  <a href="@routes.HomeController.temple()">
                <img style="height:200px; width:300px; border: 10px solid red; margin-left: 350px; margin-bottom: 6em;" src="@routes.Assets.versioned("images/hotels/temple.jpg")">
            </a> </td>

                <td  style="position: absolute; margin-left: 20px;"> <h4 style="color: blue"> The Temple Bar </h4>
                    <h5 style="color: blue"> The Clayton Hotel </h5>
                    <p> The Clayton Hotel </p> </td>
            </tr>
        </table>

    </div>



    <div style="float: right" class="col-md-9">
        <table style="border:none;
            border-collapse:collapse;">
            <tr> <td>  <a href="@routes.HomeController.jurys()">
                <img style="height:200px; width:300px; border: 10px solid red; margin-left: 350px; margin-bottom: 6em;" src="@routes.Assets.versioned("images/hotels/jurys.jpg")">
            </a> </td>

                <td  style="position: absolute; margin-left: 20px;"> <h4 style="color: blue"> The Jury Inn </h4>
                    <h5 style="color: blue"> The Clayton Hotel </h5>
                    <p> The Clayton Hotel </p> </td>
            </tr>
        </table>

    </div>



    <div style="float: right" class="col-md-9">
        <table style="border:none;
            border-collapse:collapse;">
            <tr> <td>  <a href="@routes.HomeController.ripley()">
                <img style="height:200px; width:300px; border: 10px solid red; margin-left: 350px; margin-bottom: 1em;" src="@routes.Assets.versioned("images/hotels/Ripley.jpg")">
            </a> </td>

                <td  style="position: absolute; margin-left: 20px;"> <h4 style="color: blue"> The Ripley Court Hotel </h4>
                    <h5 style="color: blue"> The Clayton Hotel </h5>
                    <p> The Clayton Hotel </p> </td>
            </tr>
        </table>

    </div>
    <div style="float: right" class="col-md-9">
        <table>
    @for(r <-rooms){

        <td>@r.getId</td>
    }
        </table>
    </div>

</div>


}
